@{
    Layout = "_Layout2";
}


<link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">


<section id="content">
    <div class="wrapper pad1">

        <article class="col1">
            <div class="box1">
                <h2 class="top">Xüsusi Təkliflər</h2>
                <div class="pad">
                    <strong>Bakıdan</strong><br>
                    <ul class="pad_bot1 list1">
                        <li> <span class="right color1">458 AZN-</span> <a href="book2.html">Moskva</a> </li>
                    </ul>
                    <strong>Bakıdan</strong><br>
                    <ul class="pad_bot1 list1">
                        <li> <span class="right color1">286 AZN-</span> <a href="book2.html">İstanbul</a> </li>
                        <li> <span class="right color1">255 AZN-</span> <a href="book2.html">Ankara</a> </li>
                    </ul>
                    <strong>İstanbuldan</strong><br>
                    <ul class="pad_bot2 list1">
                        <li> <span class="right color1">298 AZN-</span> <a href="book2.html">Berlin</a> </li>
                        <li> <span class="right color1">552 AZN-</span> <a href="book2.html">Barselona</a> </li>
                        <li> <span class="right color1">512 AZN-</span> <a href="book2.html">Madrid</a> </li>
                    </ul>
                </div>
                <h2>Daxili uçuşlar</h2>
                <div class="pad">
                    <strong>Bakıdan</strong><br>
                    <ul class="pad_bot2 list1">
                        <li class="pad_bot1"> <span class="right color1">128 AZN-</span> <a href="book2.html">Füzuli</a> </li>
                    </ul>
                    <ul class="pad_bot2 list1">
                        <li class="pad_bot1"> <span class="right color1">105 AZN-</span> <a href="book2.html">Naxçıvan</a> </li>
                    </ul>
                </div>
            </div>
        </article>

        <article class="col2" style="width:58%">
            <h3 class="pad_top1">Aviasiya Təhlükəsizliyi İdarəsi haqqında məlumat</h3>
            <div class="wrapper pad_bot2">
                <figure class="left marg_right1"><img style="width:250px" src="~/images/tehl.png" alt=""></figure>
                <p>Aviasiya Təhlükəsizliyi İdarəsi (ATİ) 1996-cı ildə yaradılmışdır və “AZAL” Qapalı Səhmdar Cəmiyyətinin struktur bölməsi kimi fəaliyyət göstərir. İdarə öz fəaliyyətini aşağıdakı istiqamətlərdə həyata keçirir: aviasiya təhlükəsizliyinin, mühafizə xidmətinin, buraxılış və obyektdaxili rejimin, yanğın təhlükəsizliyinin, qəza-xilasetmə xidmətinin, əməyin mühafizəsi və təhlükəsizlik texnikasının, mülki müdafiənin, xüsusi texniki vasitələrə qulluğun, habelə mülki aviasiya təhlükəsizliyi sahəsində video müşahidənin təmin edilməsi. İdarə öz fəaliyyətini “AZAL” QSC-nin Nizamnaməsi və ATİ-nin Əsasnaməsi əsasında qurmuşdur və hava limanlarında, “AZAL” QSC-nin struktur bölmələrində Azərbaycan Respublikası Prezidentinin 24.04.2012-ci il 613 saylı fərmanı ilə təsdiq edilmiş “Aviasiya təhlükəsizliyi dövlət proqramının” və “Aviasiya təhlükəsizliyinin təmin edilməsi qaydalarının” yerinə yetirilməsinə görə birbaşa məsuliyyət daşıyan orqandır.</p>
            </div>
            <div class="wrapper pad_bot2">
                <figure class="left marg_right1"><img style="width:250px" src="~/images/teh2.jpg" alt=""></figure>
                <p>Aviasiya Təhlükəsizliyi İdarəsinin Nəzarət-buraxılış xidməti 03.09.2012-ci ildə yaradılmışdır. Nəzarət-buraxılış xidmətinin məsuliyyət dairəsinə VIP, CIP və biznes aviasiya zalları, habelə nəzarət-buraxılış məntəqələri və vəsiqələr şöbəsi daxildir. Xidmət öz fəaliyyətini dörd növbəli iş rejimində işləyən 303 nəfərdən ibarət şəxsi heyət vasitəsilə gecə-günüz həyata keçirir.</p>
            </div>
            <div class="wrapper"> <a href="#" class="button1 right"><strong>Daha Ətraflı</strong></a> </div>
            <h3>Aviasiya təhlükəsizliyi xidməti </h3>
            <p>Müasir texniki vasitələrdən istifadə etməklə sərnişinlərin, ekipaj üzvlərinin, personalın və digər şəxslərin aviasiya təhlükəsizliyi məqsədilə yoxlanması;</p>
            <div class="wrapper"  style="display: inline-flex;">
                <div class="cols">
                    <ul class="list1">
                        <li><a href="#">Zəruri hallarda xüsusi əhəmiyyətli obyektlərin ətrafında keşik çəkilməsi.</a></li>
                        <li><a href="#">Hava limanının elektron hasarı boyunca mühafizənin təmin edilməsi (itlərlə təmin edilmiş blok-postlar)</a></li>
                        <li><a href="#">Xidməti itlərin köməyi ilə baqajların yoxlanması</a></li>
                        <li><a href="#">Aviasiya təhlükəsizliyi xidməti</a></li>
                    </ul>
                </div>
                <div class="cols pad_left1">
                    <ul class="list1">
                        <li><a href="#">Əl əşyalarının yoxlanması</a></li>
                        <li><a href="#">Beynəlxalq reys sərnişinlərinin profaylinqi, pasport yoxlaması, habelə digər xüsusi prosedurların yerinə yetirilməsi</a></li>
                        <li><a href="#">Hava gəmilərinin aviasiya təhlükəsizliyi məqsədilə yoxlanması</a></li>
                        <li><a href="#">Yüklərin və poçtun aviasiya təhlükəsizliyi məqsədilə yoxlanması</a></li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>


<script type="text/javascript" src="~/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="~/js/cufon-yui.js"></script>
<script type="text/javascript" src="~/js/cufon-replace.js"></script>
<!--<script type="text/javascript" src="~/js/Cabin_400.font.js"></script>-->
<script type="text/javascript" src="~/js/tabs.js"></script>
<script type="text/javascript" src="~/js/jquery.jqtransform.js"></script>
<script type="text/javascript" src="~/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="~/js/atooltip.jquery.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>