@{
    Layout = "_TestLayout";
}

<link rel="stylesheet" href="~/Ticket/RetCss.css" />

<div class="ticket">
    <div data-number="198812">İade<br />Edildi</div>
</div>
<div class="ticket">
    <div data-number="198813">İade<br />Edildi</div>
</div>