@{
    Layout = "_Layout2";
}


<link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">

<section id="content">
    <div class="wrapper pad1">

        <article class="col1">
            <div class="box1">
                <h2 class="top">Xüsusi Təkliflər</h2>
                <div class="pad">
                    <strong>Bakıdan</strong><br>
                    <ul class="pad_bot1 list1">
                        <li> <span class="right color1">458 AZN-</span> <a href="book2.html">Moskva</a> </li>
                    </ul>
                    <strong>Bakıdan</strong><br>
                    <ul class="pad_bot1 list1">
                        <li> <span class="right color1">286 AZN-</span> <a href="book2.html">İstanbul</a> </li>
                        <li> <span class="right color1">255 AZN-</span> <a href="book2.html">Ankara</a> </li>
                    </ul>
                    <strong>İstanbuldan</strong><br>
                    <ul class="pad_bot2 list1">
                        <li> <span class="right color1">298 AZN-</span> <a href="book2.html">Berlin</a> </li>
                        <li> <span class="right color1">552 AZN-</span> <a href="book2.html">Barselona</a> </li>
                        <li> <span class="right color1">512 AZN-</span> <a href="book2.html">Madrid</a> </li>
                    </ul>
                </div>
                <h2>Daxili uçuşlar</h2>
                <div class="pad">
                    <strong>Bakıdan</strong><br>
                    <ul class="pad_bot2 list1">
                        <li class="pad_bot1"> <span class="right color1">128 AZN-</span> <a href="book2.html">Füzuli</a> </li>
                    </ul>
                    <ul class="pad_bot2 list1">
                        <li class="pad_bot1"> <span class="right color1">105 AZN-</span> <a href="book2.html">Naxçıvan</a> </li>
                    </ul>
                </div>
            </div>
        </article>

        <article style="padding-left: 43px; width: 247px;" class="col1">
            <div>
                <img style="width: 250px" src="~/images/Premium_food.jpg" />
            </div>
            <div class="wrapper pad_top1 pad_bot3">
                <div class="cols marg_right1">

                    <h4><strong>Təyyarədə qidalanma</strong></h4>
                    <p>
                        "Azərbaycan Hava Yolları" aviaşirkətinin bütün beynəlxalq reyslərində pulsuz qidalanma təmin olunur. Günün hansı vaxtı uçmağınızdan asılı olmayaraq, Sizə hər zaman diqqətlə seçilmiş məhsullarından hazırlanmış dadlı yemək seçimi təklif olunacaq. İsti yemək ilə yanaşı, bütün reys ərzində Siz həmçinin hədsiz miqdarda çay və qəhvə sifariş edə bilərsiniz.

                    </p>
                </div>
            </div>
        </article>

        <article  class="col2">
            <div>
                <img style="width: 250px; height: 172px;" src="~/images/FirstClass.jpg" />
            </div>
            <div class="wrapper pad_top1 pad_bot3">
                <div class="cols marg_right1">

                    <h4><strong>VIP Klub</strong></h4>
                    <p>
                        VİP klub
                        VİP klub  Sizin bütün ümidlərinizi doğruldacaq..

                        VİP klubda səyahət edərkən Sizə yerdə göstərilən xidmətdən heç də geri qalmayan, xüsusi, fərdi və diqqətli xidmət göstəriləcək.

                        - VİP klubunun başlıca xüsusiyyətlərindən biri  tamamilə açılan çarpayıların təqdim edilməsidir. Burada  noutbuk və digər elektron avadanlıq üçün enerji bloku quraşdırılıb.
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>



<script type="text/javascript" src="~/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="~/js/cufon-yui.js"></script>
<script type="text/javascript" src="~/js/cufon-replace.js"></script>
<!-- <script type="text/javascript" src="~/js/Cabin_400.font.js"></script> -->
<script type="text/javascript" src="~/js/tabs.js"></script>
<script type="text/javascript" src="~/js/jquery.jqtransform.js"></script>
<script type="text/javascript" src="~/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="~/js/atooltip.jquery.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>