@{
    Layout = null;
}

@using DTO.DTOs
@model UserToAddOrUpdateDTO;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Qeydiyyat Formu</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/Reg/css/nunito-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/Reg/css/style.css" />
</head>
<body class="form-v6">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="~/Reg/images/form-v6.jpg" alt="form">
            </div>
            <form class="form-detail" asp-controller="Login" asp-action="Create" method="post">
                <h2>Qeydiyyat Formu</h2>
                <div class="form-row">
                    <input type="text" asp-for="@Model.UserName"  id="full-name" class="input-text" placeholder="Adınızı Daxil Edin" required>
                </div>
                <div class="form-row">
                    <input type="text" asp-for="@Model.EmailAdress"  id="your-email" class="input-text" placeholder="Email Adres" required pattern="[^]+[^]+.[a-zA-Z]{2,6}">
                </div>
                <div class="form-row">
                    <input type="password" asp-for="@Model.UserPassword" id="password" class="input-text" placeholder="Parol Daxil Edin" required>
                </div>
               
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Yadda Saxla">
                </div>
            </form>
        </div>
    </div>
</body>
</html>