@{
    Layout = "_Layout2";
}

<!--<link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="~/css/style.css" type="text/css" media="all">-->

<section id="content">
    <div class="wrapper pad1">
        <article class="col1">
            <div class="box1">
                <h2 class="top">Bizimlə Əlaqə</h2>
                <div class="pad">
                    <div class="wrapper pad_bot1">
                        <p class="cols pad_bot2">
                            <strong>
                                Ölkə:<br>
                                Şəhər:<br>
                                Ünvan:<br>
                                Email:
                            </strong>
                        </p>
                        <p class="color1 pad_bot2">
                            Azərbaycan<br>
                            Bakı<br>
                            126 A, Nizami street, AZ-1010
                            tel.: (+994 12) 598-88-80
                            faks: (+994 12) 437-40-87<br>
                            <a href="#">info@azal.az</a>
                        </p>
                    </div>
                </div>
                <h2>MÜXTƏLİF MƏLUMATLAR</h2>
                <div class="pad pad_bot1">
                    <p class="pad_bot2">
                        <b>Ümumi məlumatlar üçün:</b><br>
                        <br />
                        Telefon:+ 994 (12) 598-88-80<br>
                        <br />
                        Faks: + 994 (12) 437-40-87<br>
                        <br />
                        callcenter@azal.az<br>
                        <br />
                        <b>AZAL MİLES proqramı ilə bağlı suallar üçün:</b><br>
                        <br />
                        Telefon: + 994(12) 598-88-80<br>
                        <br />
                        azalmiles@azal.az<br>
                        <br />
                        Fiziki məhdudiyyətlərə dair<br>
                        <br />
                        Telefon: + 994(12) 598-88-80<br>
                        <br />
                        ABŞ-dan zənglər üçün: +1844 5988880<br>
                        <br />
                        callcenter@azal.az<br>
                        <br />
                        <b>Şikayətlər və təkliflər üçün bu ünvana müraciət edin</b><br>
                        <br />
                        airline@azal.az<br>
                        <br />
                        <b>Pilotların Hazırlığı Mərkəzi:</b><br>
                        <br />
                        planning@ftc.azal.az<br>
                    </p>
                </div>
            </div>
        </article>

        <style>
            .ccc {
                padding-left: 79px;
                width: 542px;
                float: left;
                display: block;
                font-size:100%;
                vertical-align:top;

            }
            

        </style>

        <article class="ccc col2">
            <h3 class="pad_top1">Əlaqə Formu</h3>
            <form id="ContactForm" action="#">
                <div>
                    <div class="wrapper">
                        <span>Ad:</span>
                        <input type="text" class="input">
                    </div>
                    <div class="wrapper">
                        <span>Email:</span>
                        <input type="text" class="input">
                    </div>
                    <div class="textarea_box">
                        <span>Mətn:</span>
                        <textarea name="textarea" cols="1" rows="1"></textarea>
                    </div>
                    <a href="#" class="button1"><strong>Göndər</strong></a> <a href="#" class="button1"><strong>Təmizlə</strong></a>
                </div>
            </form>
        </article>
    </div>
</section>


<!-- <script type="text/javascript" src="~/js/jquery-1.5.2.js"></script>
<script type="text/javascript" src="~/js/cufon-yui.js"></script>
<script type="text/javascript" src="~/js/cufon-replace.js"></script>
<script type="text/javascript" src="~/js/Cabin_400.font.js"></script>
<script type="text/javascript" src="~/js/tabs.js"></script>
<script type="text/javascript" src="~/js/jquery.jqtransform.js"></script>
<script type="text/javascript" src="~/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="~/js/atooltip.jquery.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>

<script type="text/javascript">Cufon.now();</script>-->